<nav class="navbar">
  <a href="/dashboard" class="nav-brand">🐟 NusaCatch</a>
  <ul class="nav-links">
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/leaderboard">Leaderboard</a></li>
    <li class="nav-user">
      <span>👤 <%= user.username %></span>
      <a href="/auth/logout" class="btn-logout">Logout</a>
    </li>
  </ul>
</nav>
